# Fancy outputs in Jupyter notebooks

Here we look at limitations of the print statement, and some ways to address those. One limitation is it is not easy to create rich formats that include things like superscript and subscripts with a print statement. The output of a print statement is printed in a raw, verbatim form.

This is an optional, advanced topic.

In [7]:
print("H_2O")  # this does not make a subscript

H_2O

In [49]:
print("H<sub>2</sub>O")  # neither does this.

H<sub>2</sub>O

It is possible to print unicode characters, but we will not need to do this and the methods below are easier to use.

## Rich outputs in code cells
The notebook does support rich output though. You can use this to output fancy things like subscripts and superscripts. You can do this by importing things from `IPython.display` and then using them to create the output. The main options are `HTML`, `Latex` and `Markdown`. You can create formatted strings in those formats, and the output will be rendered in a nice way.

In [3]:
from IPython.display import HTML

In [41]:
d = 10  # suppose the units here are meters
# We can use f-strings in this so that we can get the values in our output.
# <sup> is an HTML tag.
HTML(f"{d}<sup>2</sup> = {d**2} meter<sup>2</sup>. It looks <b>great</b>!")

In [46]:
from IPython.display import Latex

# Here our string has to be valid Latex.
Latex(f"${d}^2$ = {d**2} meter$^2$.")

In [47]:
# There seem to be some limitations on Latex, e.g. this does not work.
# I would have expected great to be bold here.
Latex(r"\textbf{great}")

In [52]:
# Here is a moderately fancy example of using Latex that includes an equation.


def f(x):
    return x**2


from scipy.integrate import quad

a, b = 2, 4
I, err = quad(f, a, b)

Latex(rf"$\int_{a}^{b} f(x) dx = {I:1.2f} \pm {err:1.2e}$")

You can also use a `Markdown` output for simple things.

In [34]:
from IPython.display import Markdown

Markdown(
    "This is **bold** and *italic* text."
    " Note you need inline html for subscripts like this"
    " H<sub>2</sub>O."
)

This is **bold** and *italic* text. Note you need inline html for subscripts like this H<sub>2</sub>O.

# Fancy formatted tables

There was a question about printing arrays as a table. Let's start with an array with three rows and 4 columns. The default representation is not that easy to read.

In [16]:
import numpy as np

x = np.random.rand(3, 4)
x

array([[0.7831239 , 0.16476273, 0.49490296, 0.0735212 ],
       [0.7715649 , 0.83526684, 0.40375334, 0.37082293],
       [0.30415025, 0.87469603, 0.44030117, 0.45746668]])

The key here is to transform the array into HTML code that represents the table, and then use the `HTML` code to display it. We use the `tabulate` Python library for that. If this doesn't work for you, you may have to run `pip install tabulate` in your Anaconda prompt or shell.

In [24]:
import tabulate

HTML(
    tabulate.tabulate(
        x,
        headers=["a", "b", "c", "d"],  # These are the titles of each column
        floatfmt="1.2f",  # Specifies the format of each element
        tablefmt="html",
    )
)

The table above is just a *representation* of the array, it does not affect what you can do with the array. For example,

In [27]:
2 * x

array([[1.56624781, 0.32952545, 0.98980591, 0.14704239],
       [1.54312979, 1.67053367, 0.80750669, 0.74164587],
       [0.6083005 , 1.74939206, 0.88060234, 0.91493336]])

An alternative to this is to use Pandas dataframe to show the data as a table. Pandas dataframes already support an HTML output that is automatically rendered in a Jupyter notebook. This might be overkill just to print a table, but dataframes are useful for data science applications.

In [48]:
import pandas as pd

pd.set_option("precision", 3)  # Sets the number of decimals printed.
pd.DataFrame(x, columns=["a", "b", "c", "d"])

       a      b      c      d
0  0.783  0.165  0.495  0.074
1  0.772  0.835  0.404  0.371
2  0.304  0.875  0.440  0.457

See https://nbviewer.jupyter.org/github/ipython/ipython/blob/2.x/examples/Notebook/Display%20System.ipynb for some other examples.